pyrofork==2.3.9
tgcrypto-pyrofork==1.2.8
pymongo==4.6.1
motor==3.3.2
marshmallow<4.0.0
umongo==3.1.0
requests==2.31.0
beautifulsoup4==4.12.2
shortzy==0.0.8
python-dateutil==2.9.0
pytz==2024.1
aiohttp==3.9.5

# Other tools
opencv-python-headless==4.9.0.80
python-dotenv==1.0.1
humanize==4.10.0
Pillow==10.2.0
psutil==5.9.8
numpy==1.26.4
wheel==0.42.0
ujson==5.10.0
wget==3.2
aiofiles==23.2.1
dnspython==2.6.1
python-decouple==3.8
ffmpeg-python==0.2.0
jinja2==3.1.3
apscheduler==3.10.4
pyshorteners==1.0.1
pyromod==1.5
colorama==0.4.6
fuzzywuzzy==0.18.0
python-Levenshtein==0.25.0

# Git-based Packages
git+https://github.com/DreamXBotz/cinemagoer
