pyrofork==
tgcrypto-pyrofork
pymongo==
motor==
marshmallow<
umongo
requests
bs4
shortzy
datetime
pytz
aiohttp

# Other tools
opencv-python-headless==
python-dotenv==
PyLeaves==
humanize
Pillow
psutil
numpy
wheel
ujson
wget
aiofiles
dnspython==
python-decouple
ffmpeg-python==
jinja2
apscheduler
pyshorteners
pyromod
colorama
fuzzywuzzy
Levenshtein==

# Git-based Packages
git+https://github.com/DreamXBotz/cinemagoer
